.center {
    display:flex;
    justify-content:center;
    align-content: center;
    background-color: rgb(240, 240, 240);
    margin-top: 30px;
    height:89%;
}

.barra {
    display:flex;
    background-color: rgb(255, 153, 0);
    height: 7%;
    transition: transform 0.5s;
}

.Div {
    width: 1000px; 
    height: 800px;
    background-color: white;
    border-radius: 20px;
}

#titulo{
    font-family: sans-serif;
    padding-left: 150px;
}

#imagem {
    margin-left: 300px;
}

#Autor {
    color:rgb(255, 153, 0);
    margin-right: 10px;
    margin-left: 30px;
}

#Descricao {
    font-size: 25px;
    padding-left: 20px;
    padding-right: 10px;
}

#svg {
    margin-left: 10px;
    margin-top: 10px;
    transition: transform 0.3s;
}

#svg:hover {
    transform: scale(1.2);
}

#comentar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin-top: 30px;
    height: 300px;
}

#comentarios {
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
    height: 300px;
    padding-top: 20px;
    padding-left: 20px;
}